*-backups/

PCB/fp-info-cache
PCB/fp-lib-table
PCB/sym-lib-table
PCB/*.kicad_pcb-bak
PCB/*.lck
PCB/*.bak
PCB/*.kicad_prl

PCB/MCAD files/*.FCBak

# Firmware
Firmware/build/
Firmware/sdkconfig*
!Firmware/sdkconfig.defaults
Firmware/.cache/

# VS Code
.vscode/

# Claude
Firmware/CLAUDE.md